<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkerpad.linkerpad">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".font"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegLoginHolderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendCommentsActivity"
            android:theme="@style/AppTheme.NoActionBar.Dialog" />
        <activity
            android:name=".AddProjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseDateActivity"
            android:theme="@style/AppTheme.NoActionBar.Dialog" />
        <activity
            android:name=".ProjectHolderActivity"
            android:label="بیمارستان آتیه ۲"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddDataRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDataRequestAcivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>